# Since the installation of Jax can sometimes be a bit more involved, it is not
# listed here. Please install it manually!
dm-haiku
optax
git+https://github.com/nlsfnr/jmp  # Replace this in favor of the below later
# git+https://github.com/deepmind/jmp  # Mixed precision

einops
torch       # For Dataset and DataLoader only
pydantic
pyyaml
tqdm
click
matplotlib
wandb

mypy
flake8
pytest
